/* @import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
/* .btn{
  color: rgb(156, 92, 92);
  border: none;
  background-color: rgb(132, 132, 239);
  border: none;
  padding: .5em 2em;
  border-radius: 2em;
  box-shadow: 0 0 2px 2px;
  font-size: 18px;
  margin-right: 5px;
  left: 42%; 
  outline: none;
  margin-top: 40px;
}  */
.navbar {
  text-align: center;
  margin-top: 0;
  padding: 15px;
  font-size: 2rem;
  font-family: "Bruno Ace SC", cursive;
  text-decoration: underline;
  height: 25px;

}
.navbar:hover{
   transition: 0.3s ;
   font-size: larger;
   color: rgb(47, 205, 208);
   /* background-color: linear-gradient(36deg,rgb(107, 45, 222) 50%,rgb(144, 190, 50)); */
}
