.mat-tab-group {
  margin-bottom: 48px;
}
.content {
  margin-top: 3.5rem;
  text-align: -webkit-center;
}
.example-card {
  max-width: 400px;
  height: 550px;
  color: aliceblue;
  background-color: #48dbfb;
  background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);  border-radius:2rem ;
  text-align: left;
}
.weather-icon{
    text-align: center;
}


.weather{
  
    height: 403px;
}
.example-header-image {
  background-size: cover;
}
